@import url('https://fonts.cdnfonts.com/css/poppins');

body{
    padding: 0;
    margin: 0;
    background-color: #0D1017;   
    font-family: poppins, sans-serif;
    font-size: 1.2rem;
    color: #58595B;
}
.menu a{
    text-decoration: none;
    color: inherit;
    display: flex;
    justify-content: space-between;
}
.menu li{
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    list-style: none;
    padding: 1em;
    
}

.mailandsun ul{
list-style: none;
}
.brandlogo{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.menu{
    display: flex;
    margin-left: 60%;
    padding-top: 0;
    padding-right: 3%;
}
.mainheader{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.hero1{
    display: grid;
    margin-right: 10%;
    margin-top: 7%;
    padding-left: 30px;
    
}
h1{
    color: white;
    display: flex;
    margin-top: 2%;
}
h2{
    font-size: 2em;
    color: white;
    
    margin-left: 9%;
}
h3{
    justify-content: space-between;
    margin-top: 14%;
}
.profileimage{
   display: block;
   float: right;
   margin-top: -34%;
    max-width: fit-content;
    max-height: fit-content;
    background-size: contain;
    background-repeat: no-repeat;
    background-position:center ;
    padding-right: 20%;
}
.talkbtn{
    width: 80px;
    height:80px;
    border-radius: 50%;
    border-color: white;
    border-style: solid;
    
}.talk{
    width: 10vh;
    margin 7px
    height: auto;
}
.aboutcontainer{
    border-style: solid;
    border-radius: 10px;
    border-color: antiquewhite;
}